---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
   <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/9f3e2022-1d66-4dde-9694-bbbcd4c66a98/LBzoVthNCa.lottie" speed="1" style="width: 60px; height: 60px" mode="forward" loop autoplay></dotlottie-wc>
</span>
